@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    font-family: "poppins", sans-serif;
}

body h1{
    color:#282f59;
}

body p{
    color:#7c7c7c;
}

body a{
    text-decoration: none;
    color:whitesmoke;
}



header {
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    min-height: 100vh;
}
.navbar{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    padding: 10px 50px;
    align-items: center;
}
.navbar ul{
    flex:1;
    text-align: right;

}

.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 25px;
}

.navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
}

.logo{
    width: 180px;
}

.ctn{
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    border-radius:50px
}
.ctn:hover {
    background: linear-gradient(to bottom right, rgb(255,111,92),rgb(255,207,145));
}

.row{
    display:flex;
    align-items:center;
    padding-top: 10rem;
}

.header-content,
.heroimg{
    flex-basis: 50%;
    padding:5 rem;
}
.header-content h1{
    font-size: 7vmin;
    margin-bottom: 30px;
    margin-top: 7rem;
    color:#4642ff
}

.header-content p{
    margin-bottom: 30px;
}

.learnmore{
    padding: 10px 20px;
    border: 1px solid tomato;
    border-radius: 50px;
    color:tomato;
    margin-right:30px;
}

.learnmore:hover{
    background:linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    border:none;
    color:whitesmoke;
}


.hero-img{
    margin-left: 80px;
}


.services{
    margin-top: 80px;
}

.container{
    padding:3rem;
    display:flex;
}

.grid-wrapper,
.services-content{
    flex-basis: 50%;
}

.grid-wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    grid-gap:2em;
    padding:2rem;
}

.grid-box{
    background:darkslategray;
    height:200px;
    padding:1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 7px 7px 7px black;
    z-index:999;
}

.grid-box img{
    width:80px;
    height:80px;
    margin-bottom: 20px;
    animation: scaleup 6s ease-in-out infinite;
}

.grid-box h1{
    color:whitesmoke;
    font-weight: 500;
}

.mobileapp{
    background: linear-gradient(to bottom right, rgb(107, 107, 255), blue);
}
.webdesign{
    background : linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
    margin-top: 30px;
}
.marketing{
    background:linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
}
.branding{
    background:linear-gradient(to bottom right, #2af598, #009efd);
    margin-top: 30px;
}


.services-content {
    padding:3rem;
    position:relative
}

.services-content h1{
    font-size:5vmin;
    margin-bottom: 30px;
}

.services-content p{
    padding-right: 6rem;
    margin-bottom:30px;
}


.circle img{
    position:absolute;
    top: -10%;
    left: -20%;
    width:680px;
    z-index: -3;
    animation: scaleup 6s ease-in-out infinite;
}

.numbers{
    margin-top: 100px;
}
.numbers .num-text{
    font-size:40px;
    padding-left: 5rem;
    padding-right:50%;
}
.numbers p{
    padding-left: 5rem;
    padding-right: 50%;
}
.mockup-img{
    flex-basis: 50%;
}
.mockup-img img{
    max-width:100%;
    margin: auto 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}
.happyClients{
    background:linear-gradient(to bottom right, rgb(107, 107, 255), blue);
}
.projectsCompleted{
    background:linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
}
.runningProjects{
    background:linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
}
.awesomeDesigners{
    background:linear-gradient(to bottom right, #2af598, #009efd);
}

.numbers .grid-box h2{
    color: whitesmoke;
    font-weight: 400;
    margin-top: 30px;
    font-size: 25px;
}
.numbers .grid-box h1{
    font-size: 45px;
}
.numbers .grid-box{
    transition:transform 1s ease and out;
}
.numbers .grid-box:hover {
    transform: translateY(-20px);
}



.projects{
    margin-top:80px;
    text-align: center;
}
.projects h1{
    font-size:40px ;
}

.projects-images{
    padding:2rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    
}
.prj-img{
    height: 300px;
    overflow: hidden;
    position:relative;
}
.prj-img img{
    max-height: 100%;
}
.details{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:100%;
    height:100%;
    background: rgba(0,0,255,0.534);
    transform:scaleX(0);
    transition: transform 0.5s ease;
}
.prj-img:hover .details{
    transform: scaleX(1);
}
.details h1,h2 i{
    color:whitesmoke;
}

.details i{
    font-size:30px;
    color:whitesmoke
}

.team{
    margin-top:80px;
}
.team h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.team .grid-wrapper{
    background:linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
    padding:4rem;
}

.team-mem{
    background:white;
    height:400px;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    transition: transform 1s ease;
}
.team-mem:hover {
    transform: translateY(-20px);
}
.team-mem h2{
    color:grey;
    margin-bottom: 30px;
    font: 18px;
}
.team-mem i{
    color:grey;
    margin:20px;
    transition:transform 0.5s ease;
    cursor:pointer;
}
.team-mem i:hover {
    color:blue;
    transform:scale(1.4);
}
    

.team-mem img{
    width: 100px;
    border-radius:50%;
}



.testimonials{
    margin-top: 80px
}
.testimonials-h1{
    font-size: 40px;
    padding-left: 5rem;
}
.testimonials-p{
    padding-left: 5rem;
    padding-right: 50%;
}

.testimonials .grid-wrapper{
    padding:3rem;
}
.review{
    min-height: 400px;
}

.review .profile{
    display: flex;
    align-items: center;
    margin-bottom:30px;
}
.review .profile img{
    width:100px;
    border-radius:50%;
    margin-right: 20px;
}
.review i{
    font-size:30px;
    color:grey;
    margin-bottom:50px;
}
.review p{
    padding-left:80px;
}





.blogs{
    margin-top:80px;
}
.blogs .grid-wrapper{
    padding:4rem;
}
.blog{
    min-height: 400px;
}
.blog h1{
    margin: 20px 0;
    font-size:20px;
}
.blog a{
    color:#282f59;
}
.blog img{
    width:100%;
    max-height: 300px;
}
.blog-h1{
    font-size: 40px;
    text-align: center ;

}





.getstarted{
    margin-top: 80px;
    padding:10rem;
}

.ctn-container{
    display:flex;
    width:80%;
    padding:2rem;
    box-shadow: 0px 0px 10px black;   
    margin:10px auto;
    justify-content: space-around;
    border-radius: 10px;
}

.ctn-btn{
    padding:20px 50px;
    color:white;
    background:linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
    border:none;
    font-size:20px;
    border-radius: 2px;
    box-shadow: 0 0 5px 3.5px lightblue;
    cursor:pointer;
    outline:none;
}


.ctn-btn:hover{
    background:linear-gradient(to bottom right, #2af598, #009efd);
}



.footer{
    margin-top: 80px;
    background-image:url('footer-agency.png');
    background-size: cover;
}
.col-4{
    min-height:200px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.footer1 h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.footer1 i{
    margin:50px 20px;
    font-size: 25px;
    color:grey;
}
.footer2 h4,
.footer3 h4, 
.footer4 h4{
    color:grey;
    font-weight: 400;
}
.footer hr{
    width: 90%;
    margin:0 auto;
}
.copyright{
    display: flex;
    justify-content: space-around;
    color:grey;
    padding:30px;
    font-weight: 400;
}
#scrolltp{
    color:white;
    background: tomato;
    padding:15px;
    border-radius:50%;
    position:fixed;
    right:50px;
    bottom:50px;
    cursor:pointer;
    transition:opacity 0.5s;
}

.label{
    width:50px;
    height:20px;
    background: white;
    display:flex;
    align-items: center;
    border-radius: 50px;
}
.label .ball{
    width:15px;
    height:15px;
    background:#282f59;
    border-radius: 50%;
    margin:5px;
    transition:transform 0.5s;
}
.checkbox{
    opacity:0;
    position:absolute;
}
.theme{
    position:absolute;
    top:30px;
    left:30%;
}
.checkbox:checked ~ .label{
    background:#282f59;
}
.checkbox:checked ~ .label .ball{
    background-color: whitesmoke;
    transform:translate(25px);
}




body.dark{
    background:#282f59;
}

body.dark p{
    color:#cbcdda;
}
body.dark h1{
    color:whitesmoke;
}
body.dark .team .team-mem h1{
    color: #282f59;
}
body.dark footer2 h4,footer2 h4,footer2 h4{
    color:#cdcdda
}
body.dark footer h4{
    color:#cdcdda;
}
body.dark .copyright{
    color:#cdcdda;
}
.body.dark .circle{
    opacity:0.5;
}
body.dark .a{
    color:#cdcdda;
}
body.dark a{
    color:whitesmoke;
}
body.dark .team .team-h1{
    color:whitesmoke;
}
@keyframes scaleup{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

